.erx-container {
    margin: 0 auto;
    width: 800px;
    height: 1200px;
	background-color: rgb(41, 128, 185);
    overflow: hidden;
}

.erx-container *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.erx-container *::-webkit-scrollbar-track {
    background: #CFE5F9;
}

.erx-container *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #8AC4E1;
}

.erx-container-body {
    position: relative;
    width: 800px;
    height: 1200px;
    overflow: auto;
}